<h2>Now share secret with a group</h2>
<% if @groups %>
  Group list:
  <% @groups.each do |group| %>
    <li><%= link_to group.name, group%></li>
  <% end %>

<% else %>
  <strong>
    You haven't created a group yet
  </strong>
<% end %> 
<br>
<%= link_to "Create Group", new_group_path%>